!Version Halon 0.1.0 (Build: genericx86-p4-Halon-0.1.0-dev/discover-20170523183047-dev)
!Schema version 0.1.8
user admin group admin-group password ciphertext AQBapQAAAAAAAAAAAAAAAAAAAAAVR739mdlOn4iM5Snq1WgAYgAAAJSUvEhCkdkJI6oD1gcaMvWx493Z1ca9iGjvd1WndajIT0JvSkJlFvWezTXmMxYELCwJgxIUXWhFopHL7jAUPBwPikxqa1lLRDAwctZrUqe2L93k2DUT7cYUPij4J4EyXXCY
sflow
sflow sampling 8011
led locator on
!
!
!
git url https://github.hpe.com/ganesh-rag-narayanan/8400.git branch staging
!
!
!
aaa authentication login default local
aaa authorization commands default none
ssh server vrf vrf_mgmt
!
!
!
!
vlan 1
    no shutdown
interface 1/1/1 
    no shutdown
    ip address 12.0.0.2/24
interface 1/1/2 
    no shutdown
    ip address 192.19.0.2/24
interface 1/1/4 
    ip address 100.0.0.2/24
interface 1/1/5 
    no shutdown
interface 1/1/6 
interface 1/1/8 
    ip address 101.0.0.9/24
interface mgmt
    ip static 172.17.0.2/16
    default-gateway 172.17.0.1
    nameserver 16.110.135.52 16.110.135.51
